@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mega Desk Web!</h1>
    <p>With this web app it is you can make desk quotes by going to this link <a asp-page ="/DeskQuotes/Index">here</a>.</p>
    <p>This app was originally a desktop application with limited features and no database.</p>
    <p>With this web app there is now a database and the data is much easier to see and to edit.</p> 
    <p>The desktop app use to look a little bit like this.</p>
    <img src="~/MegaDesk.png" alt="Image of the MegaDesk Application" style="height:300px;" />
</div>
